// bootstrap - required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

//bootstrap navbar
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/transitions";

/* ====== Quiz ====== */
.quiz {
  @apply text-gray-700 font-semibold;
}

/* ====== Header ====== */
.header {
}

/* ====== QuestionList ====== */
.question-list {
  @apply space-y-10 mb-16;
}

/* ====== QuestionItem ====== */
.question-item {
  @apply py-4 rounded-lg shadow-xl pointer-events-auto cursor-pointer hidden;
  background-color: rgba(255, 255, 255, 1);

  .question-item-title {
    @apply text-xl py-2 text-center text-gray-700 font-bold;
  }

  &[data-isactive="true"],
  &[data-isvisible="true"] {
    @apply block;
  }

  &[data-isactive="false"] {
    @apply opacity-20 bg-gray-50 shadow-none pointer-events-none cursor-default
    bg-none text-gray-500;

    .question-item-title {
      @apply text-gray-500 bg-none;
    }
  }
}

.question-item-options {
  @apply mx-auto w-5/6 grid grid-flow-row grid-cols-4 gap-8 my-6;

  .question-item-option {
    @apply cursor-pointer capitalize rounded-sm
   p-4 flex flex-col items-center justify-between text-center
   hover:bg-gray-50 transition-colors;

    label {
      @apply mt-2 leading-5;
    }

    .question-item-image {
      @apply w-24 h-24 bg-pink-50 rounded-md mb-3 shadow-sm hover:shadow-none;
    }
  }
}

/* ====== QuestionItemNav ====== */

/* ====== End Quiz ====== */
.end-quiz {
}

/* ====== QuizResults ====== */
.quiz-results {
}

/* general utilities */
.hr {
  height: 1px;
  @apply bg-gray-100
  mb-4 mt-1
  w-full;
}

.button-group {
  @apply mx-auto flex flex-row justify-between max-w-max;
  :first-child {
    @apply mr-1;
  }
  :last-child {
    @apply ml-1;
  }
}
