/* ====== Quiz ====== */
.quiz {
}

/* ====== NavBar ====== */
.nav-bar {
  @apply bg-white p-4 shadow-sm;
}

/* ====== ProgressIndicator ====== */
.progress-indicator {
}

/* ====== QuizHeader ====== */
.quiz-header {
}

/* ====== QuestionList ====== */
.question-list {
  @apply m-4;
}

/* ====== QuestionItem ====== */
.question-item {
  &[data-isactive="true"] {
    border: solid red 1px;
    cursor: pointer;
    pointer-events: auto;
    color: #000;
  }
  &[data-isactive="false"] {
    color: #ccc;
    cursor: default;
    pointer-events: none;
    button {
      opacity: 0.5;
    }
  }
  .question-item-option {
    cursor: pointer;
  }
}

/* ====== QuestionItemNav ====== */
.question-item-nav {
}

/* ====== CompleteQuiz ====== */
.complete-quiz {
}

/* ====== QuizResults ====== */
.quiz-results {
}

/* ====== Footer ====== */
.footer {
  @apply bg-gray-300 p-4 mt-6;
}
