/* ================== BRUTALIST ================== *
/* think adidas website */

/* ======== CUSTOMIZED VARIABLES ======== */
$primary: #2a7f62;
$secondary: #f2b5d4;
$light: #ebebeb;
$dark: #333;
$accent: #9ee493;
$accent-neutral: #7b886f;

$btn-padding-x: 1.25rem;
$btn-padding-y: 0.25rem;

/* ======== OVERRIDES - BG COLOR ======== */
.bg-primary {
  background-color: $primary !important;
}
.bg-secondary {
  background-color: $secondary !important;
}
.bg-accent {
  background-color: $accent !important;
}

.bg-light {
  background-color: $light !important;
}

/* ======== OVERRIDES - BUTTONS ======== */
