.App {
  .logo {
    border: solid red 1px;
  }
}

.question_item {
  &[data-isactive="true"] {
    border: solid red 1px;
    cursor: pointer;
    pointer-events: auto;
    color: #000;
  }
  &[data-isactive="false"] {
    color: #ccc;
    cursor: default;
    pointer-events: none;
    button {
      opacity: 0.5;
    }
  }
  .question_item_option {
    cursor: pointer;
  }
  /* button {
  } */
}

/* bootstrap overrides */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 0;
  padding-left: 0;
}
